.form-group{class: ('error' if f.object.errors[:title].any?)}
  = f.label :title, class: 'control-label col-md-3 col-sm-3 col-xs-12'
  .col-md-6.col-sm-6.col-xs-12
    = f.text_field :title, class: 'form-control col-md-7 col-xs-12', required: true

.form-group{class: ('error' if f.object.errors[:release_date].any?)}
  = f.label :release_date, class: 'control-label col-md-3 col-sm-3 col-xs-12'
  .col-md-6.col-sm-6.col-xs-12
    = f.text_field :release_date, class: 'form-control col-md-7 col-xs-12', id: "datePicker", required: true

.form-group{class: ('error' if f.object.errors[:genre_id].any?)}
  = f.label :genre_id, class: 'control-label col-md-3 col-sm-3 col-xs-12'
  .col-md-6.col-sm-6.col-xs-12
    = f.collection_select(:genre_id, Genre.all, :id, :name, {}, { :class => "form-control col-md-7 col-xs-12" })

.form-group{class: ('error' if f.object.errors[:director_id].any?)}
  = f.label :director_id, class: 'control-label col-md-3 col-sm-3 col-xs-12'
  .col-md-6.col-sm-6.col-xs-12
    = f.collection_select(:director_id, Director.all, :id, :name, {}, { :required => true, :class => "form-control col-md-7 col-xs-12" })

.form-group{class: ('error' if f.object.errors[:featured].any?)}
  = f.label :featured, class: 'control-label col-md-3 col-sm-3 col-xs-12'

  .col-md-6.col-sm-6.col-xs-12
    .checkbox
      = f.check_box :featured, class: "flat", style: "position: absolute; opacity: 0;"

.ln_solid
.form-group
  .col-md-6.col-sm-6.col-xs-12.col-md-offset-3.pull-right
    = link_to 'Cancel', :back, class: 'btn btn-primary'

    = f.submit "Submit", class: 'btn btn-success'
