%table{class: "table table-hover"}
  %thead
    %tr
      %th "Title"
      %th "Release Date"
      %th "Genre"
      %th "Director"
      %th "Actors"
      %th "Featured"

  %tbody
    - if @movies.present?
      - @movies.each do |movie|
        %tr
          %td= movie.title
          %td= movie.release_date
          %td= movie.genre.name
          %td= movie.director.name
          %td= movie.actors_names
          %td= movie.featured

= link_to "Add new movie", new_movie_path, class: "btn btn-primary"
