%div{class: "right_col", role: "main", style: "min-height: 3756px;"}
  %div
    .page-title
      .title_left
        %h3
          New movie

    .clearfix
    .row
      .col-md-12.col-sm-12.col-xs-12
        .x_panel
          .x_content

            = form_for @movie, url: {action: 'create'}, html: { class: "form-horizontal form-label-left" } do |f|
              = render partial: "form", locals: { f: f }
