<!DOCTYPE html>
<html>
  <head>
    <title>Moviestars</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Movie Stars!</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div id="user-widget">
              <!-- OmniAuth -->
              <% if current_user %>
                Welcome <strong><%= current_user.name %></strong>!
                <%= link_to "Sign out", signout_path, id: "sign_out" %>
              <% else %>
                <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
              <% end %>
            </div>
            <%= render partial: "layouts/profile" %>
            <!-- /menu profile quick info -->

            <br>

            <!-- sidebar menu -->
            <%= render partial: "layouts/sidebar" %>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <%= render partial: "layouts/footer_buttons" %>
            <!-- /menu footer buttons -->
          </div>
        </div>

        <!-- top navigation -->
        <%= render partial: "layouts/top_navigation" %>
        <!-- /top navigation -->

        <!-- page content -->
        <%= yield %>
        <%= render partial: "layouts/page_content" %>
        <!-- /page content -->

        <!-- footer content -->
        <%= render partial: "layouts/footer" %>
        <!-- /footer content -->
      </div>
    </div>

    <!-- <%= yield %> -->
  </body>
</html>
